$c-white: #FFF;
$c-black: #000;
$c-main: #FF5F6D;

$c-checkbox: #998899;
$c-field: #BBBBBB;

$main-gradient: linear-gradient(to right, #FFC371, #FF5F6D);
$main-border: 1px solid #989898;

$b-radius: 6px;
