.calculator{
  
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 300px;
  margin: 0 auto;
}
.number{
  box-sizing: border-box;
  margin: 0;
  height: 50px;
  width: 40px;
  
  color: black;

}
.number::placeholder {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
}
.action{
  height: 50px;
  width: 40px;
  font-weight: 400;
  font-size: 20px;
}
.equals{
  height: 50px;
  width: 40px;
  font-weight: 400;
  font-size: 20px;
}
.finalNumber{
  height: 50px;
  width: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;

}