* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
  font-size: 18px;
}

@keyframes gradient {
  0% {
    background: radial-gradient(#000000, #090f10);
  }
  6% {
    background: radial-gradient(#000000, #090f10);
  }
  12% {
    background: radial-gradient(#000000, #090f10);
  }
  18% {
    background: radial-gradient(#000000, #090f10);
  }
  24% {
    background: radial-gradient(#000000, #090f10);
  }
  30% {
    background: radial-gradient(#000000, #2f4e53,);
  }
  36% {
    background: radial-gradient(#000000, #2d6b76);
  }
  42% {
    background: radial-gradient(#000000, #22b1cb);
  }
  50% {
    background: radial-gradient(#000000, #00d9ff);
  }
  56% {
    background: radial-gradient(#000000, #22b1cb);
  }
  62% {
    background: radial-gradient(#000000, #2d6b76);
  }
  68% {
    background: radial-gradient(#000000, #2f4e53,);
  }
  74% {
    background: radial-gradient(#000000, #090f10);
  }
  80% {
    background: radial-gradient(#000000, #090f10);
  }
  86% {
    background: radial-gradient(#000000, #090f10);
  }
  92% {
    background: radial-gradient(#000000, #090f10);
  }
  100% {
    background: radial-gradient(#000000, #090f10);
  }
}

.round-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anim {
  animation: gradient 1s ease  infinite;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.main {
  height: 100vh;
}

.inner {
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
}

.button-start {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 1px solid black;
}

.button-start:active {
  background-color: rgb(255, 0, 0);
}

.button-start:hover {
  background-color: rgba(184, 224, 255, 0.497);
}

output {
  width: 180px;
  font-size: 25px;
}