$border-red: solid 1px red;
$border-green: solid 1px green;
$font-roboto: 'Roboto', sans-serif;

html {
  box-sizing: border-box;

  *, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

  body {
    // border: $border-red;
    // height: 100vh;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #202020;

    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // height: 100%;
      // border: $border-green;
      
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // border: $border-red;

        .todo-wrapper {
          display: flex;
          flex-direction: column;
          height: 688px;
          padding: 0 8px;
          // border: 1px solid blue;

          .todo-container {
            padding-top: 13px;
            width: 460px;
            // border: $border-green;

            .high-box {
              display: flex;
              flex-direction: column;

              .high-box_todo {
                display: flex;
                flex-direction: column;
              }

              .high-box_done {
                display: flex;
                flex-direction: column;
              }
            }
  
            .low-box {
              display: flex;
              flex-direction: column;

              .low-box_todo {
                display: flex;
                flex-direction: column;
              }

              .low-box_done {
                display: flex;
                flex-direction: column;
              }
            }

            .head-text {
              text-align: center;
              padding: 12px 0;
            }

            .inputs-wrapper {
              position: relative;

              .inputs-enter-data {
                width: 100%;
                padding: 12px;
                height: 45px;
                border: 1px solid #989898;
                border-radius: 6px;
                outline:none;
              }

              ::placeholder{
                color: #BBBBBB;
              }
              .add-task-btn {
                position: absolute;
                top: 12px;
                right: 13px;
                width: 18px;
                height: 18px;
                background:
                  linear-gradient(#998899,#998899),
                  linear-gradient(#998899,#998899);
                background-position:center;
                background-size: 18px 1px, 1px 18px;
                background-repeat: no-repeat;
                cursor: pointer;
              }
            }

            .task-box {
              position: relative;
              border: 1px solid #989898;
              border-radius: 6px;
              padding: 12px 45px;
              margin-top: 8px;

              .label-checkbox-task {
                position: absolute;
                left: 12px;
                top: 12px;

                .input-checkbox-task {
                  display: none;
                }

                .fake-checkbox {
                  position: relative;
                  display: inline-block;
                  width: 21px;
                  height: 21px;
                  border: 1px solid #998899;
                  border-radius: 50%;
                }

                .fake-checkbox::before {
                  content: "";
                  position: absolute;
                  display: block;
                  width: 15px;
                  height: 15px;
                  background: #C4C4C4;
                  border-radius: 50%;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  opacity: 0;
                  transition: .3s;
                }

                .input-checkbox-task:checked + .fake-checkbox::before {
                  opacity: 1;
                }

                #fake-checkbox_status-done::before {
                  opacity: 1;
                }

                #fake-checkbox_status-done:checked + .fake-checkbox_status-done::before {
                  opacity: 0;
                }
              }

              .close-task-btn {
                position: absolute;
                right: 12px;
                top: 14px;
                width: 15px;
                height: 15px;
                background:
                  linear-gradient(#998899,#998899),
                  linear-gradient(#998899,#998899);
                background-position:center;
                background-size: 15px 1px, 1px 15px;
                background-repeat: no-repeat;
                cursor: pointer;
                transform: rotate(45deg);
              }
            }

            #task-box_status-done {
              background: #F4F4F4;
            }
          }
        }
      }
    }
  }
}  