:root {
  --c-white: #ffffff66;
  --c-black: #000;
  --main-border: 1px solid var(--c-black);
  --input-border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Audiowide', cursive;
}

body {
  background-color: #21D4FD;
  background-image: -webkit-linear-gradient(0deg, #008686d7 10%, #ad5900 90%);

}
 input {
  width: 100%;
  height: 100%;
  min-height: 40px;
}

.program-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100vh;
}

.inner{
  height: 100%;
  width: 100%;
  max-width: 500px;
  max-height: 200px;
  border-radius: var(--input-border-radius);
  background-color: var(--c-white);
}

.input {
  max-width: 100px;
  border: var(--main-border);
  border-radius: var(--input-border-radius);
  margin: 10px;
  height: 45px;
}

.input:focus {
  background-color:rgba(62, 159, 146, 0.4)
}

.button {
  height: 45px;
  width: 35px;
  border-radius: var(--input-border-radius);
}

.button:hover {
  background: #c6d6d9;
  box-shadow: 0 10px 13px rgba(203, 203, 203, 0.4);
  border-radius: var(--input-border-radius);
  color: var(--c-white);
  cursor: pointer;
}

.output {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
} 

.removable {
  color: rgba(30, 65, 64, 0.706);
}
.removable:hover {
  cursor: pointer;
}