html {
  box-sizing: border-box;
}
html *, html *::after, html *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #202020;
}
html body .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
html body .main .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html body .main .container .todo-wrapper {
  display: flex;
  flex-direction: column;
  height: 688px;
  padding: 0 8px;
}
html body .main .container .todo-wrapper .todo-container {
  padding-top: 13px;
  width: 460px;
}
html body .main .container .todo-wrapper .todo-container .high-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
html body .main .container .todo-wrapper .todo-container .low-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
html body .main .container .todo-wrapper .todo-container .head-text {
  text-align: center;
  padding: 12px 0;
}
html body .main .container .todo-wrapper .todo-container .inputs-wrapper {
  position: relative;
}
html body .main .container .todo-wrapper .todo-container .inputs-wrapper .inputs-enter-data {
  width: 100%;
  padding: 12px;
  height: 45px;
  border: 1px solid #989898;
  border-radius: 6px;
  outline: none;
}
html body .main .container .todo-wrapper .todo-container .inputs-wrapper ::placeholder {
  color: #BBBBBB;
}
html body .main .container .todo-wrapper .todo-container .inputs-wrapper .add-task-btn {
  position: absolute;
  top: 10px;
  right: 13px;
  width: 18px;
  height: 18px;
  background: linear-gradient(#998899, #998899), linear-gradient(#998899, #998899);
  background-position: center;
  background-size: 18px 1px, 1px 18px;
  background-repeat: no-repeat;
  cursor: pointer;
}
html body .main .container .todo-wrapper .todo-container .task-box {
  position: relative;
  border: 1px solid #989898;
  border-radius: 6px;
  padding: 12px 45px;
}
html body .main .container .todo-wrapper .todo-container .task-box .label-checkbox-task {
  position: absolute;
  left: 12px;
  top: 12px;
}
html body .main .container .todo-wrapper .todo-container .task-box .label-checkbox-task .input-checkbox-task {
  display: none;
}
html body .main .container .todo-wrapper .todo-container .task-box .label-checkbox-task .fake-checkbox {
  position: relative;
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 1px solid #998899;
  border-radius: 50%;
}
html body .main .container .todo-wrapper .todo-container .task-box .label-checkbox-task .fake-checkbox::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background: #C4C4C4;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s;
}
html body .main .container .todo-wrapper .todo-container .task-box .label-checkbox-task #delete-it::before {
  opacity: 1;
}
html body .main .container .todo-wrapper .todo-container .task-box .label-checkbox-task .input-checkbox-task:checked + .fake-checkbox::before {
  opacity: 1;
}
html body .main .container .todo-wrapper .todo-container .task-box .close-task-btn {
  position: absolute;
  right: 12px;
  top: 14px;
  width: 15px;
  height: 15px;
  background: linear-gradient(#998899, #998899), linear-gradient(#998899, #998899);
  background-position: center;
  background-size: 15px 1px, 1px 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  transform: rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
