main {
    padding: 8px;
}

main>* {
    margin: 0 auto;
    min-width: 440px;
    width: 100%;
    max-width: 700px;
}

h1 {
    text-align: center;
    margin: 25px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.inputTaskForm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #989898;
    border-radius: 6px;
    margin: 8px 0;
}

.inputTask {
    box-sizing: border-box;
    height: 45px;
    width: 100%;
    background: none;
    border: none;
    padding: 5px 15px;
}

.btnTask {
    background: none;
    border: none;
    color: rgb(137, 137, 137);
    transition: 0.4s;
}

.inputTaskForm .btnTask:hover {
    color: rgb(0, 110, 9);
}

.taskWrapper .btnTask:hover {
    color: rgb(137, 0, 0);
}


.tasksContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.taskWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #989898;
    border-radius: 6px;
    padding: 12px 3px;
}

.taskWrapper:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px #00000045;
    transition: 0.4s;
}

.taskWrapper[data-isDone='true'] {
    opacity: 0.5;
    background-color: rgb(220, 220, 220);
}
.taskWrapper[data-isDone='true'] div.taskText {
    color: white;
}
.taskWrapper[data-isDone='true'] input.checkboxTask {
    /* display: none; */
}

.taskText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #202020;
    margin: 0 10px;
}

@media only screen and (max-width : 480px) {
    main {
        width: 100vw;
        padding: 8px;
    }
    main>* {
        margin: 0 auto;
        width: 100vw;
    }
}